* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.game {
    background: #1C629C;
    margin: auto;
    text-align: center;
    width: 700px;
    padding-top: 1px;
    min-height: 500px;
    position: relative;
}

.game__controls {
    padding: 50px 0;
}

.game__title {
    font-size: 25px;
    text-transform: uppercase;
    color: #FFF;
}

.game__mode-title {
    font-size: 17px;
    font-weight: 800;
    color: #fff;
}

.game__mode {
    font-size: 15px;
    border-radius: 3px;
    margin: 10px 0 0;

}

.game__start {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    background: #fff;
    margin: 10px 0 5px;
    text-decoration: none;
}

.game__start:active {
    background-color: #000;
    color: #fff;
}

.task {
    display: none;
    background: #fff;
    padding: 5px 15px;
    position: relative;
    box-shadow: 0 0 5px 0px black inset;
    font-size: 25px;
    min-width: 200px;
}

.task span {
    position: relative;
    z-index: 10;
}

.score {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
}

.task .countdown-bar {
    background-color: rgba(224, 0, 0, 0.25);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    width: 100%;
    height: 100%;
    animation: anim-countdown ease-in 10s;
}

@keyframes anim-countdown {
    from {width: 100%;}
    to {width: 0;}
}

.task .countdown {
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: #1c629c;
}

.answer {
    display: none;
    font-size: 0;
    margin: 30px 0;
}

.answer .variant {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    margin: 5px;
}

.answer .variant:active {
    background-color: #000;
    color: #fff;
}


.post-game {
    display: none;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 5px 0px black inset;
}

.post-game__title {
    color: #f51f55;
    font-size: 25px;
    margin: 0 0 10px 0;
}

.final-score {
    color: #94caf7;
    font-size: 17px;
    font-weight: 800;
}

/*.row {*/
/*margin: 0 -5px;*/
/*}*/